<!DOCTYPE html>
<html>
<head>
    <title>SIGH-IN</title>
    <link th:href="@{/css/loginStyle.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>

</head>
    <body>
    <form th:action="@{/login}"  method="POST">
        <div class="input-group">
            <input type="text" name="username" id="username" placeholder="USER@Domain"/>
        </div>
        <div class="input-group">
            <input type="password" name="password" id="password" placeholder="PASSWORD"/>
        </div>
        <div th:if="${param.error}">
            <div  th:text="${param.error}" class="alert-info">
                Invalid username or password.
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert-info">
                You have been logged out.
            </div>
        </div>
        <div class="input-group">
            <input type="submit" value="SUBMIT">
        </div>
    </form>
    </body>
</html>